<div class="container">

    <h2 class="welcome">GES-CV</h2>

    <div class="login-card">

        <h2>Iniciar Sesión</h2>

        <label>Correo electrónico</label>
        <input [(ngModel)]="correo" (ngModelChange)="validateFields()" placeholder="Correo electrónico">

        <p *ngIf="correoError" class="error">
            {{ correoError }}
        </p>


        <label>Contraseña</label>
        <input [(ngModel)]="password" type="password" (ngModelChange)="validateFields()" placeholder="Contraseña">

        <p *ngIf="passwordError" class="error">
            {{ passwordError }}
        </p>

        <div class="recover">
            <span (click)="goToRecover()">¿No recuerdas tu contraseña?</span>
        </div>

        <button (click)="login()" [disabled]="correoError || passwordError || !correo || !password">
            Ingresar
        </button>

        <div class="register">
            ¿Aún no tienes una cuenta?
            <span (click)="goToRegister()">Regístrate aquí.</span>
        </div>

    </div>

    <footer class="footer">
        © 2026 GES-CV · Plataforma de Gestión de Talento en Salud
    </footer>

</div>